@import '../../../styles.scss';

footer {
    background-color: $header-text;
    color: $primary-text;

    padding: 1em;

    a {
        color: $primary-text;
    }

    .left {
        font-size: 1.1em;

        a {
            $horizontal-padding: 1em;
            padding-left: $horizontal-padding;
            padding-right: $horizontal-padding;
        }
    }
    
    .right {
        text-align: end;
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
        text-align: center;
    }
}