<footer class="footer">
    <div id="blogPosts" class="container">
      <div class="row">
        <div class="d-none d-md-block col-lg-8 left">
          <a href="#">Contact</a>
          <a href="#">Bio</a>
          <a href="#">Press</a>
        </div> <!-- /col -->
        <div class="col-lg-4 right">
          © 2016 website.com
        </div>
    </div> <!-- /row -->
  </div>
</footer>