// Interface tricks
.respect-end-lines { // Adds corresponding break-lines for elements that use strings as their text
    white-space: pre-line;
}

.vertically-aligned-content {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}

.no-select { // Extracted from: https://stackoverflow.com/a/4407335/4317929
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

@mixin no-select { // Adapted from .no-select
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}