/* You can add global styles to this file, and also import other style files */
@import 'styles-variables.scss';
@import 'styles-utilities.scss';

// bootstrap
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$primary-color: rgb(163,186,5);
$secondary-color: rgb(227, 234, 182);
$tertiary-color: rgb(178, 228, 228);
$quaternary-color: rgb(233, 250, 119);
$primary-text: rgb(255,255,255);
$header-text: rgb(0, 165, 166);
$body-text: rgb(74, 74, 74);

// Theme
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $body-text;
}

h1 {
    color: $header-text;
    font-weight: 520;
    font-size: 2.3em;
}

h2 {
    font-weight: 400;
    font-size: 1.9em;
}

h3 {
    color: $header-text;
    font-weight: 445;
}

.padding {
    padding: 1em;
}