<app-header></app-header>

<!-- Gila De Lauren and action wheel -->
<div class="container content">
  <div class="row">
    <div class="col-lg-6 center-content">
      <img src="assets/stock-images/img-chef.png" alt="Gila De Lauren">
      <div class="gila-description">
        <h1>Gila De Lauren</h1>
        <p>She is an Italaian-born American chef, writer, television personality, and the host of the current Food Network television program Food Paradise</p>
      </div>
    </div>
    <div class="col-lg-6 center-content vertically-aligned-content">
      <!-- <img class="filler-img" src="assets/temp/circle-menu.png" alt="Action wheel"> -->
      <app-fan-menu [buttons]="fanMenuButtons"></app-fan-menu>
    </div>

    
  </div> <!-- /row -->
</div> <!-- /container -->

<app-scrolling-ribbon title="Let's get cooking!" icon="shopping-basket" serviceUrl='get_cooking' colorSet="blue">
</app-scrolling-ribbon>

<!-- Specials of this season -->
<div id="seasonSpecials" class="container content">
  <h2>Specials of this season</h2>
  <div class="row">
    <div class="col-lg-4">
      <h3>Barbeque: Cali Style</h3>
      <img src="assets/stock-images/img-the-ingredients-cover.png" alt="Barbeque: Cali Style">
      <p>
        You've undoubtedly heard of Carolina Barbeque and Texas BBQ but have you ever tried Santa maria Barbeque?
        Unlike the aforementioned styles, Santa Maria Barbeque doesn't involve a long, slow cooking method or sweet sauces, but instead a menu featuring a well-seasoned California tri-tip cooked over native red oak coals on a special hand-cranked grill, accompanied by pinquinto beans, salsa, green salad, and garlic bread.
      </p>
    </div>
    <div class="col-lg-4">
      <h3>The Perfect Fruitcake</h3>
      <img src="assets/stock-images/img-fruitcake-cover.png" alt="The Perfect Fruitcake">
      <p>
        The poor, maligned fruit cake... 
        probably one of the most hated cakes in the existence of baking.
        Is it any wonder?
        Would you want an incredibly dense, overly sweet, horribly boozy "cake" chock-full of fluorescent-colored candied fruit pieces?
      </p>
    </div>
    <div class="col-lg-4">
      <h3>Spice-Crusted Salmon: A Holiday Dinner That's As Impressive As It Is Quick</h3>
      <img src="assets/stock-images/img-salmon-cover.png" alt="Spice-Crusted Salmon: A Holiday Dinner That's As Impressive As It Is Quick">
      <p>
        Holiday season is well underway, and you now what that means: people are BUSY!
        With that in mind, I developed a festive recipe that's quick enough to server on a weeknight (with some make-aheads), and beautiful and impressive enough to serve as the centerpiece for a holiday meal.
      </p>
    </div>
  </div>
</div> <!-- /container -->

<app-scrolling-ribbon title="Restaurants" icon="utensils" serviceUrl='restaurants' colorSet="green">
</app-scrolling-ribbon>

<!-- Guest blogging -->
<div id="blogPosts" class="container content">
  <h2>Guest blogging</h2>
  <div class="row">
    <div class="col-lg-4">
      <mat-card class="blog-card">
        <mat-card-header>
          <mat-card-title>Rhubarb: The Vegetable That Acts Like a Fruit</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            May is all about vegetables on bobbyflay.com and one of the most popular springtime vegetables is rhubarb.
            That's right, I said vegetable.
            Did you know that rhubab is actually a vegetable, not a fruit?
          </p>
          <p>
            While rhubarb is typically treated like a fruit and most often shows up in desserts in this country, it is also very good in savory dishes too and when used in glazes and chutneys pairs really well with pork, lamb and chicken.
            But, since I could live on pastries (and often do) I love using rhubarb in a variety of desserts.
          </p>
        </mat-card-content>
      </mat-card>
    </div> <!-- /col -->
    <div class="col-lg-4">
      <mat-card class="blog-card">
        <mat-card-header>
          <mat-card-title>Spice-Crusted Salmon: A Holiday Dinner That's As Impressive As It Is Quick</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Holiday season is well underway, and you now what that means: people are BUSY!
            With that in mind, I developed a festive recipe that's quick enough to serve on a weeknight (with some make-aheads), and beautiful and impressive enough to serve as the centerpiece for a holiday meal.
          </p>
          <p>
            We love to serve a whole side of fish -- it makes for a gorgeous presentation and it feeds a crowd.
            This one has a spice rub that does double duty, as seasoning for the salmon and as a coating for spiced nuts that get stirred into fluffy jasmine rice.
          </p>
        </mat-card-content>
      </mat-card>
    </div> <!-- /col -->
    <div class="col-lg-4">
      <h3>A New Favorite Take on an Old Mediterranean Grain</h3>
      <iframe class="ytplayer" type="text/html" width="640" height="360"
        src="https://www.youtube.com/embed/OFhp8f9StA8?autoplay=1&origin=http://example.com"
        frameborder="0">
      </iframe>
      <p>
        Packed with complex carbohydrates and fiber, delicious and hearty whole grains play an important part in the Mediterranean diet.
        Look beyond rice and pasta, because it's worth getting to know farro, amaranth, millet, freekah and wheat berries...
      </p>
    </div> <!-- /col -->
  </div> <!-- /row -->
</div> <!-- /container -->

<app-footer></app-footer>