@import '../styles.scss';

.filler-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 80%;
    max-height: 80%;
}

.center-content {
    text-align: center;
}

.gila-description {
    border-top: 2px solid $header-text;
}

$col-spacing: 2em / 2;

#seasonSpecials .row {
    div {
        padding-left: $col-spacing;
        padding-right: $col-spacing;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 11em;
        object-fit: cover;

        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}


#blogPosts .row  {
    div { // col
        padding: 0;

        // For phone display
        $vertical-margin: 1em;
        margin-top: $vertical-margin;
        margin-bottom: $vertical-margin;

        padding-left: $col-spacing;
        padding-right: $col-spacing;
    }

    .blog-card {
        padding: 0;
    
        mat-card-title {
            color: $primary-text;
        }

        mat-card-title {
            padding-top: 0.5em;

            font-size: 1.1em;
        }

        mat-card-content {
            padding: 1.2em;
        }
    }

    .ytplayer {
        $vertical-margin: 0.5em;
        margin-top: $vertical-margin;
        margin-bottom: $vertical-margin;
        max-width: 100%;
        max-height: 240px;
    }

    // Alternate colors
    div:nth-of-type(odd) {
        mat-card-header {
            background-color: $primary-color;
        }
        
        mat-card-content {
            background-color: $secondary-color;
        }
    }

    div:nth-of-type(even) {
        mat-card-header {
            background-color: $header-text;
        }
    
        mat-card-content {
            background-color: $tertiary-color;
        }
    }
}

#seasonSpecials, #blogPosts {
    h2 {
        margin-bottom: 0.8em;
    }

    h3 {
        height: 3em;
        
        @media (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
            height: auto;
        }
    }
}