<span class="buttons-{{ buttons.length }} circle">
  <span class="inner-circle">+</span>
  <div class="menu-button clickable" *ngFor="let button of buttons" >
    <div>
      <fa-icon class="fa-3x" icon="{{button.icon}}"></fa-icon>
    </div>
    <div class="menu-button-description">
      {{ button.title }}
    </div>
  </div>
</span>