@import '../../styles.scss';

.centered-content {
    text-align: center;
    vertical-align: middle;
}

$circle-radius: 512px / 2; // If this could be dynamically known, it would be posible to have a resizable circle
/**
 * Arranges all of the menu-button in the fan-menu, but must be given the amount of buttons there is
 *
 * $button-amount (int): amount of buttons that the menu is expected to have
 * $starting-degrees (deg): Degrees at which the menu-button will be displaced. At 0 degrees, the first button will be directly to the right
 * $offset-distance (int): to move the menu-button from the center (Without taking in account the dimensions of the menu-button)
 */
 @mixin arrange-buttons($button-amount, $starting-degrees, $offset-distance) {
    $offset-degrees: 360deg / $button-amount;
    $current-degrees: $starting-degrees;

    @for $i from 2 through $button-amount+1 {
        .menu-button:nth-child(#{$i}) {
            transform: 
                    rotate($current-degrees) 
                    translateX($offset-distance) 
                    rotate(-$current-degrees);

            $current-degrees: $current-degrees + $offset-degrees;
        }
    }
}

.circle {
    height: $circle-radius * 2;
    width: $circle-radius * 2;
    background-color: $quaternary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    // Currently, only large screen supported
    @media (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
        display: none;
    }

    .inner-circle {
        height: 40%;
        width: 40%;
        background-color: $primary-text;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 4rem;
        color: $primary-color;
    }
    
    
    .menu-button {
        $text-color: rgba(gray, 0.7);
        color: $text-color;
        border-radius: 50%;
        @include no-select;
        position: absolute;
        width: 18%;
        height: 18%;
        max-width: 18%;
        max-height: 18%;

        .menu-button-description {
            border-radius: 20%;
        }

        &:hover {
            $highlight-background: lighten($quaternary-color, 20%);
            $highlight-text: lighten($text-color, 10%);

            background-color: $highlight-background;
            color: $highlight-text;

            .menu-button-description {
                background-color: $highlight-background;
                color: $highlight-text;
            }
        }

        &:active {
            $pressed-background: darken($quaternary-color, 08%);
            
            background-color: $pressed-background;

            .menu-button-description {
                background-color: $pressed-background;
            }
        }
    }

    $starting-degrees: 90deg;
    $offset-distance: $circle-radius * 0.70;
    
    // Handle different amounts of buttons
    &.buttons-1  { @include arrange-buttons(1,  $starting-degrees, $offset-distance); }
    &.buttons-2  { @include arrange-buttons(2,  $starting-degrees, $offset-distance); }
    &.buttons-3  { @include arrange-buttons(3,  $starting-degrees, $offset-distance); }
    &.buttons-4  { @include arrange-buttons(4,  $starting-degrees, $offset-distance); }
    &.buttons-5  { @include arrange-buttons(5,  $starting-degrees, $offset-distance); }
    &.buttons-6  { @include arrange-buttons(6,  $starting-degrees, $offset-distance); }
    &.buttons-7  { @include arrange-buttons(7,  $starting-degrees, $offset-distance); }
    &.buttons-8  { @include arrange-buttons(8,  $starting-degrees, $offset-distance); }
    &.buttons-9  { @include arrange-buttons(9,  $starting-degrees, $offset-distance); }
    &.buttons-10 { @include arrange-buttons(10, $starting-degrees, $offset-distance); }
}