@import '../../styles.scss';

.row {
    color: $primary-text;
    
    $vertical-margin: 2rem;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

.colors-blue {
    color: $primary-text;
    background-color: rgb(77, 202, 202);
}
.colors-green {
    color: $body-text;
    background-color: $quaternary-color;
}

.ribbon-header.colors-blue {
    background-color: $header-text;
}
.ribbon-header.colors-green {
    @extend .order-lg-12;
    color: $primary-text;
    background-color: $primary-color;
}

.ribbon-header {
    $vertical-padding: 1.5em;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;

    $horizontal-padding: 3em;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;

    text-align: center;

    h2 {
        font-size: 2em;
        font-weight: 380;
    }
}



.ribbon-item {
    $vertical-padding: 1em;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    $horizontal-padding: 1.2em;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    font-size: 1.2em;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 11em;
    object-fit: cover;

    margin-top: 0.5em;
    margin-bottom: 1em;
}

.img-container {
    position: relative;
    color: white;

    .img-overlay-bottom-centered {
        padding: 1em;
        font-size: 0.7em;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.78);
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translate(-50%, 0);
    }
}