<div class="container">


<div class="row colors-{{colorSet}}">
  <div class="col-lg-3 ribbon-header colors-{{colorSet}}">
    <fa-icon class="fa-6x" icon="{{ icon }}"></fa-icon>
    <h2>{{ title }}</h2>
  </div> <!-- /col -->
  <div class="col-lg-3 ribbon-item colors-{{colorSet}}" *ngFor="let item of itemData" >
    <!-- Img -->
    <div *ngIf="!item.description" >
      <img src="{{ item.img }}" alt="{{ item.title }} image">
      <p>{{ item.title }}</p>
    </div>

    <!-- Img with description -->
    <div *ngIf="item.description" >
      <p>{{ item.title }}</p>
      <div class="img-container">
        <img src="{{ item.img }}" alt="{{ item.title }} image">
        <div class="img-overlay-bottom-centered respect-end-lines">{{ item.description }}</div>
      </div>
    </div>
  </div>
</div> <!-- row-->
</div>