@import '../../../styles';

nav {
    background-color: $primary-color;
    color: $primary-text;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    .navbar-burger {
        height: inherit;
    }

    .navbar-menu {
        background-color: inherit;
    }
    
    $highlight-color: lighten($primary-color, 20%);
    .navbar-item {
        color: $primary-text;

        $vertical-padding: 0.5em;
        $horizontal-margin: 1em;
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;
        margin-left: $horizontal-margin;
        margin-right: $horizontal-margin;
        display: flex;
        align-items: center;

        padding-top: 0.5em;
        padding-bottom: 0.5em;

        img {
            $imgMax: 2em;
            max-height: $imgMax;
            max-width: $imgMax;
        }

        .button {
            border: 0;

            &:hover {
                color: $highlight-color;
            }
        }
    }

    .logo {
        margin: 0; 
        padding: 0;

        &:hover {
            color: $highlight-color;
        }
        
        img {
            $horizontal-margin: 0.5rem;
            margin-left: $horizontal-margin;
            margin-right: $horizontal-margin;
        }
    }
}

#title {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}