<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <!-- logo -->
  <div class="navbar-brand">
      <a class="navbar-item logo clickable">
        <img class="clickable" src="assets/logos/main.png">
        <label class="clickable" id='title'>Gi.La.</label>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button">
              Recipes
            </a>
            <a class="button">
              Gallery
            </a>
            <a class="button">
              Contact
            </a>
            <a class="button">
              <span class="icon">
                <fa-icon icon="search"></fa-icon>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>